nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
List items are blocks by default
*/
nav li {
    display: inline-block;
    background-color: gold;
}

.dropdown {
    position: relative;
}

/*
Switching anchor tags from inline to block
*/
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(209, 106, 106);
}

/* Dropdown Styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}