body {
    margin-left: 65px;
    margin-right: 65px;
    color: whitesmoke;
    background-color: black;
    font-family: 'Noto Sans';
}

h1 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Noto Serif';
}

a {
    color: whitesmoke;
    text-decoration-line: none;
    width: max-content;
}


a:visited {
    color: whitesmoke;
}

a:hover {
    color: dodgerblue;
    text-shadow: 0px 0px 0.125rem dodgerblue;
    transition: all 0.3s;
}

/*
I'm sure there is a better way, but this works to keep items apart for now
*/

header {
    display: flex;
    justify-content: space-between;
}

nav li .dropdown-list a {
    font-size: .8rem;
}

nav ul li {
    display: inline-block;
}

.dropdown-menu {
    position: relative;
    right: 3vw;
}

/*
1. Make the width a little larger to fit all the items in one line
2. Add some padding to the left so items are centered inside
3. Shift the entire container over by the amount you over expanded by,
to keep the container in the center. 
*/
.dropdown-list {
    display: none;
    position: absolute;
    left: -10%;
    padding-left: 10%;
    background-color: rgb(0, 0, 0);
    width: max-content;
}

/*
List has to turn back into a block or the text will be scrunched.
There is def a better way to do this I'm sure but this works for now. 
*/

.dropdown-list li {
    display: block;
}

.dropdown-menu:hover .dropdown-list {
    display: block;
}


.dropdown-menu li {
    padding-top: 10px;
    padding-bottom: 10px;
}

aside p {
    margin-top: 0px;
}


/* Add styles to the table */
table {
    border-collapse: collapse;
    border: 2px solid whitesmoke;
    width: 100%;
}

/* Cell Styles */
th,
td {
    padding: 10px;
    /* Add padding to cells */
    border: 1px solid whitesmoke;
    /* White border for each cell */
}

/* Header */
th {
    background-color: black;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

@media screen and (max-width:900px) {
    nav div {
        margin-left: 0px
    }
}

/*
align along y (main) axis, justify along x (cross) axis
*/
/* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* 
- add content to each bullet in the list after the list is rendered
- pseudo-element inline by default (will only fill enough to encapsulate content), 
so make it inline

- absolute == removed from normal flow of the page, can set position manually.
- if absolute block by default but I'm leaving it in for my own sake (to remember)

- underline contained in list >li>a so it appears inside a tag,
and only appears when directly over link, not just hovering over
invisible li span.

good code but less is more tbh
*/

/* .nav--list li a::after {
    content: '';
    height: 2px;
    width: 100%;
    background: rgb(255, 255, 255);
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    opacity: 0;
} */

/*
- relative doesn't just allow you to move relative to where it would be, but sets an anchor 
- point for absolute elements so they know from what reference point to move x & y
*/
/* .nav--list li {
    position: relative;
} */



/* .section--image {
    border-radius: -2px;
} */