body {
    margin-left: 65px;
    margin-right: 65px;
    color: whitesmoke;
    background-color: black;
    font-family: 'Noto Sans';
}

a {
    color: whitesmoke;
    text-decoration-line: none;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    text-shadow: 0px 0px 3px white;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Noto Serif';
}

.nav--list {
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 25px;
}

/* 
- add content to each bullet in the list after the list is rendered
- pseudo-element inline by default (will only fill enough to encapsulate content), 
so make it inline

- absolute == removed from normal flow of the page, can set position manually.
- if absolute block by default but I'm leaving it in for my own sake (to remember)
*/

.nav--list li a::after {
    content: '';
    height: 2px;
    width: 100%;
    background: white;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    opacity: 0;
}

/*
- relative doesn't just allow you to move relative to where it would be, but sets an anchor 
- point for absolute elements so they know from what reference point to move x & y
*/
.nav--list li {
    position: relative;
}

.nav--list li a:hover::after {
    opacity: 1;
    transition: all 0.3s;
}


h1 {
    font-size: 12rem;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Noto Serif';
}

/*
Aspect ratio is (x:y)
*/

#main-container {
    display: flex;
}

.section--image {
    border-radius: 10px;
    width: 70vw;
}

aside {
    text-align: justify;
    margin-left: 65px;
    width: 30ch;
}

aside p {
    margin-top: 0px;
}

@media screen and (max-width:1300px) {
    h1 {
        font-size: 6rem;
    }

    aside {
        margin-left: 30px;
    }

}

@media screen and (max-width:1500px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .section--image {
        width: 100%;
    }

    #main-container {
        flex-wrap: wrap;
        align-content: flex-start;
    }

    aside {
        margin-left: 0;
        width: 100%;
    }

}